.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.mainContent {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
