.backBtn {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background-color: #ececf4;
  color: black;
  padding: 0 0.625rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    background-color: #f1f0ff;
  }
}

.documentName {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
}
