.section {
  width: 100%;
}

.h1 {
  margin: 0 0 0.5rem;
}

.tableHeader {
  display: flex;
  gap: 1rem;
}

.tableHeaderCell {
  font-weight: bold;
  min-width: 250px;
  padding: 0 0 0 0.5rem;
}

.tableRow {
  display: flex;
  gap: 1rem;
  font-family: var(--font-geist-mono);
  font-size: 0.875rem;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid silver;
  }
}

.tableRow:nth-child(odd) {
  background-color: antiquewhite;
}

.tableCell {
  min-width: 250px;
  padding: 0.5rem;
}

.tableCell a {
  color: var(--link-color);
  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }
}
