.h1 {
  margin: 0 0 0.5rem;
}

.tableHeader {
  display: flex;
  gap: 1rem;
}

.tableHeaderCell {
  font-weight: bold;
  min-width: 16rem;
  padding: 0 0 0 0.5rem;
}

.tableRow {
  display: flex;
  gap: 1rem;
  font-family: var(--font-geist-mono);
  font-size: 0.875rem;
}

.tableRow:nth-child(odd) {
  background-color: linen;
}

.tableCell {
  min-width: 16rem;
  padding: 0.5rem;
}

.tableCell a {
  color: var(--link-color);
  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }
}

.tag {
  border: 1px dashed black;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-transform: lowercase;
}
